.page__main {
  width: 320px;

}

.main__title {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;

  h2 {
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    font-weight: lighter;
    margin-bottom: 0px;
  }

  h2:nth-child(1) {
    margin-top: 46px;
  }
}

.main__about {
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 820px;
  &::before{
    content: "";
    display: block;
    border-top: 20px white solid;
    border-right: 320px #f2f2f2 solid;
  }
}

.main__about--text {
  padding-left: 20px;
  padding-right: 20px;
  width: 280px;
  padding-bottom: 43px;
  display: inline-block;
  text-align: center;

  h3 {
    margin: 0;
  }

  p {
    margin: 0;
  }
}

.text--first {
  padding-top: 120px;
}

.main__iphone--img {
  display: flex;
  justify-content: center;
}